body {
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
}

.space {
	padding-left: 10px;
	padding-right: 10px;
}

a {
	color: #44c;
}


.buttonBase .tooltiptext {
    min-width:200px;
    top:50%;
    left:100%;
    margin-left:10px;
    transform:translate(0, -50%);
    padding:5px 5px;
    color:#444444;
    background-color:#cccc00;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden;
		opacity:0;
		transition:opacity 0.4s;
		text-shadow: none;
}

.buttonBase:hover .tooltiptext {
    visibility:visible;
		opacity:1;
	  transition-delay: 0.25s;
}

.buttonBase .tooltiptext i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.buttonBase .tooltiptext i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#cccc00;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}




.dropZone {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font: 20pt;
	color: #888;
	position: absolute;
	left: 100px;
	width: 500px;
	z-index: 1000;
	cursor: pointer;

}


.footer {
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:40;
	font-size: 10pt;
	text-decoration: none;
	text-align: center;
	border: none;
	outline: none;
	color: #404;
	width: 100%;
}


a {
	text-decoration: none;
	border: none;
	outline: none;
	-webkit-tap-highlight-color: white;
}


.sectionLabel {
	z-index: 500;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
 	font-size: 9pt;
	color: #444;
	margin-bottom: 5px;
	width: 100%;
	cursor:pointer;
}


.sortBy {
	margin-left: 30px;
}
.section{
	width: 100%;
}


.space {
	margin: 3px;
}


.shareMessage {
	padding: 1em;
	font-size: 10pt;
	color: #666;
    position: absolute;
	display: block;
	left: 0;
	top: 150px;
    transform-origin: 45% 100%;
	transform: rotate(-90deg);
}


.buttonBase {
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 10pt;
	margin: 1px;
	padding: 1px 4px 1px 4px;
	color: white;
	background-color: #999;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 100 px;
	white-space:pre-wrap;
	display:inline-block;
	position:relative;
	cursor: pointer;
	text-shadow: 1px 1px #888;

}


.button {
	background-color: #999;
}

.buttonChart {
	height: 25px;
}

.buttonSpecial {
	background-color: #44f;
}


.buttonSelected {
	background-color: #1c1;
	box-shadow: 1px 1px #888888;
}


#chart {
	margin-left: 70px;
	margin-right: 60px;
	height: 70%;
}


.rightArrow {
	z-index: 500;
	margin-right: 5px;
	width: 12px;
	height: 12px;
	background: url("../images/right-arrow.png") center no-repeat;
	background-size: 10px;
	display: block;
	float: left;
}


.downArrow {
	z-index: 500;
	margin-right: 5px;
	width: 12px;
	height: 12px;
	background: url("../images/down-arrow.png") center no-repeat;
	background-size: 12px;
	display: block;
	float: left;
}